/* For desktop */
@media only screen and (min-width: 980px) {
	#welcome {
		margin-top: 60px;
	}

}

/* For tablet */
@media only screen and (min-width: 760px) and (max-width: 980px) {
	#welcome {
		margin-top: 60px;
	}

}

/* For mobile */
@media only screen and (max-width: 760px) {


}

#greeting{
	margin-top: 10%;
	padding: 0px;
}

#greeting>h1 {
		font-family: 'Source Sans Pro', Avenir, Arial, sans-serif;
		font-size: 72pt;
		font-weight: 300;
		color: #1D202B;
		margin: 0px;
		padding: 0px;
	}

#greeting>h2 {
	font-family: 'Playfair Display', 'Times New Roman' serif;
	font-size: 22pt;
	font-weight: 400;
	font-style: italic;
	color: #FB8A51;
	text-indent: 5px;
	margin: 0px;
	padding-bottom: 5px;
}