/* For parallax */
.parallax-viewport {
      width: 100%;
      max-width: 60em;
      height: 20em;
}
.parallax-layer {
    position: absolute;
}

#welcome {
	margin-top: 60px;
	position:relative; 
}

#greeting>h1 {
	font-family: 'Source Sans Pro', 'Avenir', Arial, sans-serif;
	font-size: 72pt;
	font-weight: 300;
	line-height: 0.9em;
	color: #1D202B;
	margin: 0px;
	padding: 0px;
	}

#greeting2>h2 {
	font-family: arapeyregular, 'playfair_displayregular', 'Times New Roman' serif;
	font-size: 22pt;
	font-weight: 400;
	font-style: italic;
	color: #FB8A51;
	text-indent: 5px;
	margin-top: 20px;
	padding-bottom: 5px;
}

#resume, #github, #linkedin {
	width: 25px;
	height: 25px;
	margin-left: 5px;
}

/* For desktop */
@media only screen and (min-width: 1024px) {
	#greeting {
		margin-top: 10%;
		padding: 0px;
	}

}

/* For tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#greeting {
		margin-top: 25px;
		padding: 0px;
	}

	#links {
		margin-top: -15px;
		padding: 0px;
	}

	#links {
		margin-top: -15px;
		padding: 0px;
	}
}

/* For mobile */
@media only screen and (max-width: 767px) {
	#greeting, #greeting2 {
		margin-left: 25px ;
		padding: 0px;
	}

	#github, #linkedin {
		width: 25px;
		height: 25px;
		margin-left: 20px;
	}
}

