#welcome {
	margin-top: 60px;
}

#welcome>#greeting{
	margin-top: 70px;
}

#greeting>h1 {
	font-family: 'Source Sans Pro', Avenir, Arial, sans-serif;
	font-size: 72pt;
	font-weight: 300;
	color: #1D202B;
	margin: 0px;
	padding: 0px;
}

#greeting>h2 {
	font-family: 'Playfair Display', 'Times New Roman' serif;
	font-size: 22pt;
	font-weight: 400;
	font-style: italic;
	color: #1D202B;
	text-indent: 5px;
	margin: 0px;
	padding: 0px;
}